[submodule "source_data/cneuromod.all"]
	path = source_data/cneuromod.all
	url = https://github.com/courtois-neuromod/cneuromod.all
	shallow = true
	branch = issue11_automate_dataset_info
[submodule "source_data/dataset_comparison"]
	path = source_data/dataset_comparison
	url = https://github.com/courtois-neuromod/dataset_comparison
[submodule "source_data/qa_figures"]
	path = source_data/qa_figures
	url = https://github.com/courtois-neuromod/cneuromod.all.qa_figures
[submodule "source_data/connectome_stats"]
	path = source_data/connectome_stats
	url = https://github.com/courtois-neuromod/cneuromod.all.connectome_stats
